<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.romainpellerin.remotecontrolviasms"
    android:versionCode="21"
    android:versionName="1.1.4" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <!-- Google Analytics -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="eu.romainpellerin.remotecontrolviasms.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="eu.romainpellerin.remotecontrolviasms.broadcastreceivers.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="eu.romainpellerin.remotecontrolviasms.broadcastreceivers.SmsReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="eu.romainpellerin.remotecontrolviasms.broadcastreceivers.PowerButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" >
                </action>
                <action android:name="android.intent.action.SCREEN_ON" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name="eu.romainpellerin.remotecontrolviasms.PowerButtonService" />

        <activity
            android:name="eu.romainpellerin.remotecontrolviasms.activities.CancelAlarm"
            android:label="@string/app_name"
            android:theme="@style/CancelAl" >
        </activity>
    </application>

</manifest>
